# Installation
* Download from: https://www.python.org/downloads/
* To Check python installed in your machine, go to cmd prompt and type
* python --version
* IDLE tool come with Python interpretor itself. vs code, Jupyter Notebook.

# Variable declaration Rules:

* A variable name must start with a letter or the underscore character
* A variable name cannot start with a number
* A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
* A variable name should not contain white spaces & special symbols except underscore
* Variable names are case-sensitive (age, Age and AGE are three different variables)
## Keywords:
    1. Keywords are the reserved words
    2. Examples: int, float, char, str, if, while , for

## Python Datatypes / Variables:
* Text Type:	str
* Numeric Types:	int, float, complex
* Sequence Types:	list, tuple, range
* Mapping Type:	dict
* Set Types:	set, frozenset
* Boolean Type:	bool
* Binary Types:	bytes, bytearray, memoryview
* None Type:	NoneType

# Print

## Print Hello World

In [100]:
print("Hello World")

Hello World

## Formatted Print.

In [101]:
#WAP to print playercode, playername, runs scored in two matches using variables

playercode=193
playername="Smith"
match1_runs=132
match2_runs=120

print("Method-1: comma saperated parameters")

print("Player Code = ", playercode, " type = ", type(playercode))
print("Player Name = ", playername, " type = ", type(playername))
print("Match1 Runs = ", match1_runs," type = ", type(match1_runs))
print("Match2 Runs = ", match2_runs," type = ", type(match2_runs))


print("Method-2: formatted print function")

print(f"Player Code = {playercode} \t Player Name = {playername} \t Match1 Runs = {match1_runs} \t Match2 Runs = {match2_runs}")

Method-1: comma saperated parameters
Player Code =  193  type =  <class 'int'>
Player Name =  Smith  type =  <class 'str'>
Match1 Runs =  132  type =  <class 'int'>
Match2 Runs =  120  type =  <class 'int'>
Method-2: formatted print function
Player Code = 193 	 Player Name = Smith 	 Match1 Runs = 132 	 Match2 Runs = 120

In [7]:
#WAP to print 3 product records using system identifiers

prodcode=202
prodname="Mouse"
price=1800.500
qty=2

print("%10d %20s %10.2f %10d"%(prodcode,prodname,price,qty))

prodcode=494
prodname="RAM"
price=2800.555
qty=5

print("%10d %20s %10.2f %10d"%(prodcode,prodname,price,qty))

print("%10d %20s %10.2f %10d"%(493,"Monitor",7000.00,17))

# Notes:
# System Identifiers : They are presentation of variable values to identify type and print as output

# %d          int
# %f          float
# %c          character
# %s          string

       202                Mouse    1800.50          2
       494                  RAM    2800.55          5
       493              Monitor    7000.00         17

# Basic arithmetic calculations, IF-ELSE, Functions
* Read input from User
* User I/P - type conversion
* Swapping numbers
* Integer Division, Float Division
* if-elif-else Statements
* Functions

## Getting the Data Type

In [103]:
x = 5
y="string"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

## Casting

In [107]:
x = int(1)   # x will be 1
y = int(2.8) # y will be 2
z = int("3") # z will be 3
a = input("Enter a :") #10  defaulting datatype is String.
b = float(input("Enter a :")) #10 casts to integer.
print(type(a))
print(type(b))

Enter a :2
Enter a :3
<class 'str'>
<class 'float'>

## Swap Numbers

In [108]:
#WAP to input two numbers and perform swapping 

a = int(input("Enter a :")) #10
b = int(input("Enter b :")) #20

print(f"a = {a} \t b = {b}")#10 20

a, b = b, a

print("After,")
print(f"a = {a} \t b = {b}") #20 10

# Method-1
# t = a
# a = b
# b = t

# Method-2
# a = a+b #30
# b = a-b #10
# a = a-b #20

Enter a :1
Enter b :2
a = 1 	 b = 2
After,
a = 2 	 b = 1

## Basic arithmetic calculations

In [109]:
#WAP to input two numbers and perfom basic arithmetic calculations

a = int(input("Enter a:"))
b = int(input("Enter b:"))

print(f"value of  a = {a} \t value of b = {b}")

addn=a+b
print(f"Addition = \t {addn}")

subt=a-b
print(f"Subtraction = \t {subt}")

mult=a*b
print(f"Multiplication = \t {mult}")

fdiv=a/b
print(f"Float division = \t {fdiv}")

idiv=a//b
print(f"Integer Division = \t {idiv}")

rem=a%b
print(f"Remainder = \t {rem}")

Enter a:50
Enter b:15
value of  a = 50 	 value of b = 15
Addition = 	 65
Subtraction = 	 35
Multiplication = 	 750
Float division = 	 3.3333333333333335
Integer Division = 	 3
Remainder = 	 5

## if-else statement & functions

In [19]:
#WAP to input two numbers and perfom basic arithmetic calculations using IF ELSE statements & Functions.
#import library.calculator as c

x = int(input("Enter x :"))
y = int(input("Enter y :"))
    

print("1.Add \n2.Subtraction \n3.Multiplication \n4.Float Div \n5.Integer Div")
choice = int(input("Enter Choice :"))

if choice==1:
    ans = addition(x, y)
    print(f"Addition of {x} and {y}  = {ans}")
    
elif choice==2:
    ans = subtraction(x, y)
    print(f"Subtraction of {x} and {y}  = {ans}")
elif choice==3:
    ans = multiplication(x, y)
    print(f"Multiplication of {x} and {y}  = {ans}")
elif choice==4:
    ans = fdivision(x, y)
    print(f"Float Division of {x} and {y}  = {ans}")
elif choice==5:
    ans = idivision(x, y)
    print(f"Integer Division of {x} and {y}  = {ans}")
else:
    print("Invalid Choice")

#Function Syntax / Defination:

def addition(a, b):
    return a+b

def subtraction(a, b):
    return a-b

def multiplication(a, b):
    return a*b

def fdivision(a, b):
    return a/b

def idivision(a, b):
    return a//b

Enter x :25
Enter y :10
1.Add
2.Subtraction
3.Multiplication
4.Float Div
5.Integer Div
Enter Choice :5
Integer Division of 25 and 10  = 2

# Operators

## Python Comparison Operators

* Operator	Name	Example
* '=='	Equal	x == y	
* '!='	Not equal	x != y	
* '>' Greater than x > y	
* '<'	Less than x < y	
* '>=' Greater than or equal to x >= y	
* '<=' Less than or equal to	x <= y

## Python Logical Operators

Operator	Description	Example	Try it
* 'and' 	--Returns True if both statements are true.	x < 5 and  x < 10	
* 'or'	--Returns True if one of the statements is true.	x < 5 or x < 4	
* 'not'	--Reverse the result, returns False if the result is true

## Python Membership Operators
Operator	Description	Example
* 'in' 	--Returns True if a sequence with the specified value is present in the object.	x in y	
* 'not in'	--Returns True if a sequence with the specified value is not present in the object. x not in y

## Python Bitwise Operators
Operator Name Description
* & --->AND Sets each bit to 1 if both bits are 1
* | --->OR Sets each bit to 1 if one of two bits is 1
*  ^ --->XOR Sets each bit to 1 if only one of two bits is 1
* ~ --->NOT Inverts all the bits
* << --->Zero fill left shift. Shift left by pushing zeros in from the right and let the leftmost bits fall off
* '>>' --->Signed right shift. Shift right by pushing copies of the leftmost bit in from the left, and let the rightmost bits fall off

## AND, OR Conditions

In [20]:
# WAP to input gender, age, healthstatus, place and policyamount of an employee and check whether employee
# is eleigible for insurance in following cases or not

# case1: gender is male and age is between 25 to 55, place is city and health is excellent as well as policy
#        amount is greater than 2 lac then premium is Rs.6 per thousand
# case2: gender is female and age is between 25 to 55, place is city and health is excellent as well as policy
#        amount is greater than 1 lac then premium is Rs.3 per thousand
# case3: gender is male and age is between 25 to 55, place is village and health is poor as well as policy
#        amount is greater than 10 thousand then premium is 6% of policy amount


gender = input("Enter Gender :")
age = int(input("Enter age :"))
health = input("Enter Health Status :")
place = input("Enter place :")
policyamt = int(input("Enter Policy amount :"))

if gender=="male" and age>=25 and age<=55 and health=="excellent" and place=="city" and policyamt>200000:
    premium = policyamt*6/1000
    print(f"Premium is Rs.6 per thousand = Rs.{premium}")
    
elif gender=="female" and age>=25 and age<=55 and health=="excellent" and place=="city" and policyamt>100000:
    premium = policyamt*3/1000
    print(f"Premium is Rs.3 per thousand = Rs.{premium}")

elif gender=="male" and age>=25 and age<=55 and health=="poor" and place=="village" and policyamt>10000:
    premium = policyamt*6/100
    print(f"Premium is 6 percent= Rs.{premium}")

else:
    print("Person is not eligible for the policy")

Enter Gender :male
Enter age :50
Enter Health Status :excellent
Enter place :city
Enter Policy amount :15000
Person is not eligible for the policy

# Loops

## The while Loop
* With the while loop we can execute a set of statements as long as a condition is true.

In [ ]:
#WAP to print 1 to 100 using while loop

no=1
while no<=100:
    print(no, end=",")
    no+=1

#Ass: Write while loop to print even numbers between 1 to 100

In [38]:
# WAP to print following star pattern using while loop
# *
# * *
# * * *
# * * * *
# * * * * *
# print for n rows

r=1
while r<=5:
    c=1
    while c<=r:
        print("*",end=" ")
        c+=1
    print()
    r+=1

# WAP to print following star pattern using while loop
#         *
#       * *
#     * * *
#   * * * *
# * * * * *
# print for n rows

r=1
while r<=5:
    c=1   
    while c<=(5-r):
        print(" ",end=" ")
        c+=1   
    d=1
    while d<=r:
        print("*",end=" ")
        d+=1   
    print()
    r+=1

*
* *
* * *
* * * *
* * * * *
        *
      * *
    * * *
  * * * *
* * * * *

## Python range() Loop
* The range() function returns a sequence of numbers, 
* Starting from 0 by default, and increments by 1 (by default), and ends at a specified number.

In [110]:
for x in range(6):
  print(x)
# Note that range(6) is not the values of 0 to 6, but the values 0 to 5.

0
1
2
3
4
5

In [111]:
#WAP to print numbers between the range. Includes lower number but excludes higher number.

n1 = int(input("Enter n1 :")) #50
n2 = int(input("Enter n2 :")) #41

for i in range(n1, n2,1):
    print(i, end=",")
print("")

for i in range(n2, n1,-1):
    print(i, end=",")
print("")

Enter n1 :10
Enter n2 :20
10,11,12,13,14,15,16,17,18,19,
20,19,18,17,16,15,14,13,12,11,

In [35]:
for i in range(n1, n2+1,1):
    print(i, end=",")
print("")

for i in range(n2, n1-1,-1):
    print(i, end=",")

1,2,3,4,5,
5,4,3,2,1,

## Python For Loop
* A for loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string).

In [112]:
# Print each fruit in a fruit list:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

apple
banana
cherry

In [113]:
# Looping Through a String. Even strings are iterable objects, they contain a sequence of characters.
# Loop through the letters in the word "banana":
for x in "banana":
  print(x)

b
a
n
a
n
a

## The break Statement
* Example: Exit the loop when i is 3:

In [ ]:
# Example: Exit the loop when i is 3:
    i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

In [ ]:
# Exit the loop when x is "banana", but this time the break comes before the print:

fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    break
  print(x)

## The continue Statement
* With the continue statement we can stop the current iteration of the loop, and continue with the next:

In [ ]:
# Do not print banana:

fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    continue
  print(x)

## The pass Statement
* for loops cannot be empty, but if you for some reason have a for loop with no content, put in the pass statement to avoid getting an error.

In [120]:
for x in [0, 1, 2]:
    pass

for x in [0, 1, 2]:
    continue
    print("hello")

hi
hi
hi

# Strings & string methods

## StringMethod	Description
* capitalize()	Converts the first character to upper case
* casefold()	Converts string into lower case
* center()	Returns a centered string
* count()	Returns the number of times a specified value occurs in a string
* encode()	Returns an encoded version of the string
* endswith()	Returns true if the string ends with the specified value
* expandtabs()	Sets the tab size of the string
* find()	Searches the string for a specified value and returns the position of where it was found
* format()	Formats specified values in a string
* format_map()	Formats specified values in a string
* index()	Searches the string for a specified value and returns the position of where it was found
* isalnum()	Returns True if all characters in the string are alphanumeric
* isalpha()	Returns True if all characters in the string are in the alphabet
* isascii()	Returns True if all characters in the string are ascii characters
* isdecimal()	Returns True if all characters in the string are decimals
* isdigit()	Returns True if all characters in the string are digits
* isidentifier()	Returns True if the string is an identifier
* islower()	Returns True if all characters in the string are lower case
* isnumeric()	Returns True if all characters in the string are numeric
* isprintable()	Returns True if all characters in the string are printable
* isspace()	Returns True if all characters in the string are whitespaces
* istitle()	Returns True if the string follows the rules of a title
* isupper()	Returns True if all characters in the string are upper case
* join()	Converts the elements of an iterable into a string
* ljust()	Returns a left justified version of the string
* lower()	Converts a string into lower case
* lstrip()	Returns a left trim version of the string
* maketrans()	Returns a translation table to be used in translations
* partition()	Returns a tuple where the string is parted into three parts
* replace()	Returns a string where a specified value is replaced with a specified value
* rfind()	Searches the string for a specified value and returns the last position of where it was found
* rindex()	Searches the string for a specified value and returns the last position of where it was found
* rjust()	Returns a right justified version of the string
* rpartition()	Returns a tuple where the string is parted into three parts
* rsplit()	Splits the string at the specified separator, and returns a list
* rstrip()	Returns a right trim version of the string
* split()	Splits the string at the specified separator, and returns a list
* splitlines()	Splits the string at line breaks and returns a list
* startswith()	Returns true if the string starts with the specified value
* strip()	Returns a trimmed version of the string
* swapcase()	Swaps cases, lower case becomes upper case and vice versa
* title()	Converts the first character of each word to upper case
* translate()	Returns a translated string
* upper()	Converts a string into upper case
* zfill()	Fills the string with a specified number of 0 values at the beginning

In [136]:
txt = "  hello 123, \t How are you  ? \t   you have a nice day.  "

print("capitalize: ", txt.capitalize())
print("casefold: ", txt.casefold())
print("center: ", txt.center(80,'O')) #Using the letter "O" as the padding character:
print("count: ", txt.count("you"))
print("encode: ", txt.encode())
print("endswith: ", txt.endswith("."))
print("expandtabs: ", txt.expandtabs(2))  #tabsize
print("find: ", txt.find("you"))
print("index: ", txt.index("you"))
print("isalnum: ", txt.isalnum())
print("isdecimal: ", txt.isdecimal()) #Check if all the characters in the unicode object are decimals:
print("isdigit: ", txt.isdigit()) #Check if all the characters in the text are digits:
print("isidentifier: ", txt.isidentifier()) #Check if the string is a valid identifier:
print("islower: ", txt.islower()) #Check if all the characters in the text are in lower case:
print("isnumeric: ", txt.isnumeric()) #Check if all the characters in the text are numeric:
print("isupper: ", txt.isupper()) #Check if all the characters in the text are in upper case:
myTuple = ("John", "Peter", "Vicky")
mySeparator = "TEST"
print("join:",mySeparator.join(myTuple)) #Join all items in a tuple into a string, using a hash character as separator:
print("lower: ", txt.lower()) #Lower case the string:
print("lstrip: ", txt.lstrip()) #Remove spaces to the left of the string:
print("replace: ", txt.replace("day.","day. Thank you"))
print("upper: ", txt.upper()) #Upper case the string:

capitalize:    hello 123, 	 how are you  ? 	   you have a nice day.
casefold:    hello 123, 	 how are you  ? 	   you have a nice day.
center:  OOOOOOOOOOOO  hello 123, 	 How are you  ? 	   you have a nice day.  OOOOOOOOOOOO
count:  2
encode:  b'  hello 123, \t How are you  ? \t   you have a nice day.  '
endswith:  False
expandtabs:    hello 123,   How are you  ?      you have a nice day.
find:  23
index:  23
isalnum:  False
isdecimal:  False
isdigit:  False
isidentifier:  False
islower:  False
isnumeric:  False
isupper:  False
join: JohnTESTPeterTESTVicky
lower:    hello 123, 	 how are you  ? 	   you have a nice day.
lstrip:  hello 123, 	 How are you  ? 	   you have a nice day.
replace:    hello 123, 	 How are you  ? 	   you have a nice day. Thank you
upper:    HELLO 123, 	 HOW ARE YOU  ? 	   YOU HAVE A NICE DAY.

# Python Collections (Arrays)
There are four collection data types in the Python programming language:

* List ----------is a collection which is ordered and changeable. Allows duplicate members.
* Tuple -------is a collection which is ordered and unchangeable. Allows duplicate members.
* Set ----------is a collection which is unordered, unchangeable, and unindexed. No duplicate members.
* Dictionary --is a collection which is ordered and changeable. No duplicate members.
* 
* Set items are unchangeable, but you can remove and/or add items whenever you like.
* As of Python version 3.7, dictionaries are ordered. In Python 3.6 and earlier, dictionaries are unordered.

# lists

In [43]:
# List items can be of any data type:
list1 = ["apple", "banana", "cherry"]
list2 = [1, 5, 7, 9, 3]
list3 = [True, False, False]

# A list with strings, integers and boolean values:
list1 = ["abc", 34, True, 40, "male"]

In [127]:
# The list() Constructor
# Using the list() constructor to make a List:
l=list()
d=dict()
s=set()
t=tuple()
thislist = list(("apple", "banana", "cherry")) # note the double round-brackets
print(thislist)

TypeError: list expected at most 1 arguments, got 3

## Access List Items
* List items are indexed and you can access them by referring to the index number. 
* Note: The first item has index 0.
* Negative Indexing
    * Negative indexing means start from the end
    * -1 refers to the last item, -2 refers to the second last item etc.
* Range of Indexes
    * You can specify a range of indexes by specifying where to start and where to end the range.
    * When specifying a range, the return value will be a new list with the specified items.
    * Note: The search will start at index 2 (included) and end at index 5 (not included).

In [124]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[1])

banana

In [125]:
print(thislist[-1])

mango

In [126]:
print(thislist[2:5])

['cherry', 'orange', 'kiwi']

In [128]:
print(thislist[:4])

['apple', 'banana', 'cherry', 'orange']

In [129]:
print(thislist[2:])

['cherry', 'orange', 'kiwi', 'melon', 'mango']

In [130]:
print(thislist[-4:-1])

['orange', 'kiwi', 'melon']

In [82]:
#Create list in python
x = [11,12,13,14,15,16,17,18,19,20]

print(x)
print(x[0:5])   #[11, 12, 13, 14, 15]
print(x[:-1])   #[11, 12, 13, 14, 15, 16, 17, 18, 19]
print(x[2:])    #[13, 14, 15, 16, 17, 18, 19, 20] 
print(x[::-1])  #[20, 19, 18, 17, 16, 15, 14, 13, 12, 11]  -->print in reverse order

#print addition of all list items
print("Sum of list values=  ", sum(x))
#print max value & min value from the list
print("min value = ", min(x))
print("max value = ", max(x))
print("Length of List = ", len(x))

[11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
[11, 12, 13, 14, 15]
[11, 12, 13, 14, 15, 16, 17, 18, 19]
[13, 14, 15, 16, 17, 18, 19, 20]
[20, 19, 18, 17, 16, 15, 14, 13, 12, 11]
Sum of list values=   155
min value =  11
max value =  20
Length of List =  10

In [131]:
#operations on list:
r1 = [11,2,4]
r2 = [3, 0, 9]

print(r1+r2) #[11,2,4,3,0,9]    --r1.extend(r2) OR for x in list2:  list1.append(x)
print(len(r1)) #3
print(r1*3) #[11,2,4,11,2,4,11,2,4]
print(r1-1) #Error

[11, 2, 4, 3, 0, 9]
3
[11, 2, 4, 11, 2, 4, 11, 2, 4]

TypeError: unsupported operand type(s) for -: 'list' and 'int'

## Check if Item Exists

In [47]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
if "apple" in thislist:
  print("Yes, 'apple' is in the fruits list")

Yes, 'apple' is in the fruits list

In [48]:
## Change List Items
thislist[1] = "mango"
print(thislist)

['apple', 'mango', 'cherry', 'orange', 'kiwi', 'melon', 'mango']

In [ ]:
## Change a Range of Item Values
thislist[1:3] = ["mango", "watermelon"]
print(thislist)

In [72]:
cities = ["Chicago","New York","Dallas","Huston","Charlotte","Atlanta"]
print("list using for loop")
for i in range(0,len(cities)):
    print(cities[i])

print("list using for of loop")
for item in cities:
    print(item)

list using for loop
Chicago
New York
Dallas
Huston
Charlotte
Atlanta
list using for of loop
Chicago
New York
Dallas
Huston
Charlotte
Atlanta

## list functions - append(), insert(), extend(), sort(),reverse(), remove(), pop(), clear()
 * Method	Description
    * append()	---Adds an element at the end of the list
    * clear()	---Removes all the elements from the list
    * copy()	---Returns a copy of the list
    * count()	---Returns the number of elements with the specified value
    * extend()	---Add the elements of a list (or any iterable), to the end of the current list
    * index()	---Returns the index of the first element with the specified value
    * insert()	---Adds an element at the specified position
    * pop()	---Removes the element at the specified position
    * remove()	---Removes the item with the specified value
    * reverse()	---Reverses the order of the list
    * sort()	---Sorts the list

In [84]:
colors = []
#append
colors.append("red")
colors.append("blue")
colors.append("white")

#insert - To insert a list item at a specified index, use the insert() method.
colors.insert(1, "BLACK")
print("colors after insert item- BLACK = ", colors)

#extend -To append elements from another list to the current list, use the extend() method.
colors.extend(["yellow","pink","green"])
print("colors after extend = ", colors)

thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
thislist.extend(tropical)
print(thislist)

#sort  
#-List objects have a sort() method that will sort the list alphanumerically, ascending, by default:
# By default the sort() method is case sensitive, resulting in all capital letters being sorted before lower case letters:
colors.sort()
print("colors in ascending order = ", colors)
colors.sort(reverse = True)   #descending order
colors.sort(key = str.lower)  #case-insensitive order.
print(colors)

#reverse
colors.reverse()
print("colors list in reverse order = ", colors)

#remove - The remove() method removes the specified item.
colors.remove("red")
# colors.remove("red")
print("after remove() color = ", colors)

#pop - The pop() method removes the specified index.
colors.pop(2)
print("after pop() color = ", colors)
#del - The del keyword also removes the specified index. 
del colors[0]
del colors[1]
print("delete by index = ", colors)

#The del keyword can also delete the list completely.
del colors

colors after insert item- BLACK =  ['red', 'BLACK', 'blue', 'white']
colors after extend =  ['red', 'BLACK', 'blue', 'white', 'yellow', 'pink', 'green']
['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']
colors in ascending order =  ['BLACK', 'blue', 'green', 'pink', 'red', 'white', 'yellow']
colors list in reverse order =  ['yellow', 'white', 'red', 'pink', 'green', 'blue', 'BLACK']
after remove() color =  ['yellow', 'white', 'pink', 'green', 'blue', 'BLACK']
after pop() color =  ['yellow', 'white', 'green', 'blue', 'BLACK']
delete by index =  ['white', 'blue', 'BLACK']

In [85]:
x1 = [11,12,13,14,15,16,17,18,19,20]
print(x1)

#You cannot copy a list simply by typing list2 = list1, because: list2 will only be a reference to list1, 
#and changes made in list1 will automatically also be made in list2.

#copy():
#Method1:
# Make a copy of a list with the copy() method:
x2=x1.copy()

#Method2:
# Another way to make a copy is to use the built-in method list().
x3 = list(x1)

#clear():
# The clear() method empties the list.
x1.clear()
print(x1)
print(x2)
print(x3)

[11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
[]
[11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

# tuples
Tuples are used to store multiple items in a single variable.
A tuple is a collection which is ordered and unchangeable.
* Tuple:
    * Ordered.
    * Unchangeable/immutable. 
    * Allows duplicate members.
* Method	Description
    * count()	---Returns the number of times a specified value occurs in a tuple
    * index()	---Searches the tuple for a specified value and returns the position of where it was found

In [ ]:
#tuples

#Example1
month = ("Jan","Feb","Mar","April","May","Jun","Jul","Aug","Sept")

# month[0],month[1] = month[1],month[0]  ----throws error

print("After swap,")
print("months tuple = ",month)

#Example2
y = (["red","orange"],["smith","peter"],[77,100])
y[0].append("blue")
del y[1][0]
y[2].extend([666,999])
print(y)
# del y[1] throws error

## list to tuple and tuple to list conversion

In [89]:
#list vs tuple: convert list to tuple and tuple to list

#Example1

userslist = ["smith","kang","nitin","pooja","trisha","nisha","peter"]

print("list: ", userslist)
usertuple = tuple(userslist)
print("tuple:",usertuple)

#Example2
countries = ("India","Rassia","US","UK")

print("tuple:",countries)
countrieslist = list(countries)
print("list: ", countrieslist)

list:  ['smith', 'kang', 'nitin', 'pooja', 'trisha', 'nisha', 'peter']
tuple: ('smith', 'kang', 'nitin', 'pooja', 'trisha', 'nisha', 'peter')
tuple: ('India', 'Rassia', 'US', 'UK')
list:  ['India', 'Rassia', 'US', 'UK']

In [90]:
#tuple Access:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[1])
print(thistuple[-1])
print(thistuple[2:5])
print(thistuple[:4])
print(thistuple[2:])
print(thistuple[-4:-1])

if "apple" in thistuple:
  print("Yes, 'apple' is in the fruits tuple")

banana
mango
('cherry', 'orange', 'kiwi')
('apple', 'banana', 'cherry', 'orange')
('cherry', 'orange', 'kiwi', 'melon', 'mango')
('orange', 'kiwi', 'melon')
Yes, 'apple' is in the fruits tuple

# sets
* A set is a collection which is unordered, unchangeable*, and unindexed.
* set:
    * unordered, 
    * unchangeable,  (* Note: Once a set is created, you cannot change its items, but you can remove items and add new items.)
    * unindexed. 
    * No duplicate members.

## set methods:
* Method	Description
    * add()	---Adds an element to the set
    * clear()	---Removes all the elements from the set
    * copy()	---Returns a copy of the set
    * difference()	---Returns a set containing the difference between two or more sets
    * difference_update()	---Removes the items in this set that are also included in another, specified set
    * discard()	---Remove the specified item
    * intersection()	---Returns a set, that is the intersection of two other sets
    * intersection_update()	---Removes the items in this set that are not present in other, specified set(s)
    * isdisjoint()	---Returns whether two sets have a intersection or not
    * issubset()	---Returns whether another set contains this set or not
    * issuperset()	---Returns whether this set contains another set or not
    * pop()	---Removes an element from the set
    * remove()	---Removes the specified element
    * symmetric_difference()	---Returns a set with the symmetric differences of two sets
    * symmetric_difference_update()	---inserts the symmetric differences from this set and another
    * union()	---Return a set containing the union of sets
    * update()	---Update the set with the union of this set and others

In [132]:
#set
set1 = {11,12,13,14,15,15,12,13}
print(set1)
print("length of set:", len(set1))

set2 = {14,19,3,45,-48,19}
print(set2)

unionab = set1.union(set2)
print("union of set1 and set2 = ",unionab)

intersectionab = set1.intersection(set2)
print("intersection of set1 and set2 = ",intersectionab)

#Note: set not support index access
# print(set1[0]) Error

even = [12,18,22,24,24,12]
evenset = set(even)
print("even set = ", evenset)

listofnums = list(set1)
print("list of numbers = ", listofnums)

{11, 12, 13, 14, 15}
length of set: 5
{3, 45, 14, -48, 19}
union of set1 and set2 =  {3, 11, 12, 13, 14, 15, 45, -48, 19}
intersection of set1 and set2 =  {14}
even set =  {24, 18, 12, 22}
list of numbers =  [11, 12, 13, 14, 15]

# dictionaries
* Dictionaries are used to store data values in key:value pairs.
* Dictionary --is a collection which is ordered and changeable. No duplicate members.
* Dictionary:
    * Ordered
    * Changeable
    * No duplicate members

## Dictionary methods:
* Method	Description
    * clear()	---Removes all the elements from the dictionary
    * copy()	---Returns a copy of the dictionary
    * fromkeys()	---Returns a dictionary with the specified keys and value
    * get()	---Returns the value of the specified key
    * items()	---Returns a list containing a tuple for each key value pair
    * keys()	---Returns a list containing the dictionary's keys
    * pop()	---Removes the element with the specified key
    * popitem()	---Removes the last inserted key-value pair
    * setdefault()	---Returns the value of the specified key. If the key does not exist: insert the key, with the specified value
    * update()	---Updates the dictionary with the specified key-value pairs
    * values()	---Returns a list of all the values in the dictionary

In [96]:
#Dictionary

person = {"fname":"Smith","lname":"Mathew","age":28,"location":"India"}
print(person)

#get only keys from dictioary
only_keys = list(person.keys())
print(only_keys)

#get only values from dictioary
only_values = list(person.values())
print(only_values)

{'fname': 'Smith', 'lname': 'Mathew', 'age': 28, 'location': 'India'}
['fname', 'lname', 'age', 'location']
['Smith', 'Mathew', 28, 'India']

## dictionaries - Duplicates Not Allowed

In [133]:
# Dictionaries cannot have two items with the same key, Duplicate values will overwrite existing values:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
  "year": 2020
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

## Access Dictionary Items

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
x = thisdict["model"]
x = thisdict.get("model")
x = thisdict.keys()
x = thisdict.values()
x = thisdict.items()